.cartContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recipeCardList {
    display: flex;
    flex-direction: column;
}

.recipeCard {
    display: block;
    padding: 20px;
    width: min-content;
    height: min-content;
}