.sectionTitle {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    padding: 60px;
    font-size: 40px;
}

.recipeView {
    display: flex;
    justify-content: center;
}